@import './variables.scss';

.footer {
  display: flex;
  min-width: 100%;
  color: $white;
  .footer__content {
    max-width: 60rem;
    padding-left: 1.45rem;
    a {
      color:$white;
    }
  }
  
}
@media (max-width: 21.875rem) {
  .footer {
    font-size: .8rem;
  }
}